---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="About">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">About the Project</div>
  </div>

  <div class="mb-10 text-justify">
    PoliSoNI stands for <strong>Poli</strong>tical <strong>So</strong>cial <strong>N</strong>etwork
    in <strong>Indonesia</strong>
    <br></br>
    <p>This project is supported by <a href = "https://www.universiteitleiden.nl/en/humanities/centre-for-digital-humanities" style="color :steelblue">
    Leiden University Centre for Digital Humanities</a> and is a part of the 
    <a href = "https://lu-human.github.io/" style="color :steelblue">
    Leiden Humanities AI and NLP group</a>.</p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">The complex network</div>
    XXX
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">A computational approach</div>
    XXX
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Dataset</div>
    XXX
  </div>

</BaseLayout>
